@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Libre Baskerville',serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.heading{
    font-size: 8em;
    text-transform: uppercase;
    margin: 0;
    background-color:;
    background:linear-gradient(to right,red ,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-background-clip:text;
    -moz-text-fill-color:transparent;
}
div{
    border: 20px dashed #000;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: red;
    background-clip: content-box;
    display: none;
}